@tailwind base;
@tailwind components;
@tailwind utilities;

.transform-fade-down-enter-active,
.transform-fade-down-leave-active {
  @apply transition-all translate-y-0 duration-300;
}
.transform-fade-down-enter-from,
.transform-fade-down-leave-to {
  @apply opacity-0 transform -translate-y-2;
}

.slide-enter-active,
.slide-leave-active {
  @apply transition-all duration-300;
}
.slide-enter-from,
.slide-leave-to {
  @apply opacity-0 max-h-0;
}
.slide-enter-to,
.slide-leave-from {
  @apply opacity-100 max-h-96;
}

.paragraph {
  @apply text-gray-700 tracking-wide leading-relaxed;
}

/* for remove arrow spinner button on input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
